.home {
  display: flex;

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 48px;
    margin-bottom: 50px;
  }
}
