.author {
  display: flex;
  align-items: center;

  &__photo {
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
  }

  &__name {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    padding-left: 20px;
  }
}
