.contacts {
  height: 100vh;
  display: flex;

  &__wrapper {
    width: 500px;
    padding: 30px 40px 0 40px;
    height: 100vh;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 179px);
  }

  &__empty {
    text-align: center;
    font-size: 18px;
    color: #707c97;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 10px 10px 0 10px;
  }
}
