.contact {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  margin: 5px 10px;
  padding: 10px;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.4s all;

  &:hover {
    transform: scale(1.05);
  }
  &-active {
    background: linear-gradient(96.78deg, #7cb8f7 0%, #2a8bf2 100%);
    color: #fff;
  }

  &:hover &__edit {
    color: #fff;
  }

  &__description {
    display: flex;
    align-items: center;
  }

  &__avatar {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
  }

  &__name {
    font-weight: 500;
  }

  &__actions {
    display: flex;
  }

  &__action {
    font-size: 18px;
    transition: 0.3s all;

    &:hover {
      transform: scale(1.3);
    }
  }

  &__edit {
    color: #707c97;
    margin-right: 15px;
  }

  &__delete {
    color: #ff3366;
  }
}
