.form {
  &__label {
    display: block;
    color: rgb(162, 112, 241);
    margin-bottom: 15px;
  }

  &__input {
    background-color: inherit;
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-bottom: 2px solid #fff;
    transition: all 0.5s;

    &:focus {
      border-bottom: 2px solid rgb(162, 112, 241);
    }
  }
}
