<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.App {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
=======
.App {
  // background-color: #444;
  height: 100vh;
>>>>>>> 2dd0bf9af4eeebeac5e31adc557ea7d9d0da5d2c
}
