.message {
  width: max-content;
  align-self: flex-end;
  background: rgb(162, 112, 241);
  border-radius: 20px 20px 0 20px;
  padding: 10px;

  &:not(:first-child) {
    margin-top: 10px;
  }

  &__left {
    align-self: flex-start;
    background: rgb(131, 53, 255);
    border-radius: 20px 20px 20px 0;
  }

  &__text {
    font-size: 18px;
    color: #fff;
  }

  &__info {
    margin-top: 5px;
    display: block;
    font-size: 11px;
    color: #ccc;
  }
}
